<div class="row text-center col-md-12" >
  <div class="container" style="background-color: rgba(0, 0, 0, 0)">

    <br>
    <br>
    <br>
    <br>
    <div class="jumbotron row" style="background-color:#151515;border-radius: 25px;">
      <h1>VisualMiners!</h1>
      <p class="lead">
        <img src="images/Glasses_100.png" alt="Team logo"><br>
        Always a pleasure visualizing your data.
        <br>
        <br>
        <br>
      </p>

      <p><a class="btn btn-lg btn-success" ng-href="#/map">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2 text-center" style="background-color:#151515;border-radius: 25px;">

    <figure class="snip1336 text-center col-md-12">
      <figcaption class="col-md-8 col-md-offset-2">
        <img class="img-circle" src="images/man1.png" alt="David Solans" class="profile" />
        <h2>David Solans<span>Computer science</span></h2>
        <p></p>
        <div class="col-md-6 col-md-offset-2">
          <a target="_blank" href="https://twitter.com/SolansDavid" class="follow">Follow</a>
          <a target="_blank" href="https://www.linkedin.com/in/david-solans-noguero-48269b85/" class="info">More Info</a>
        </div>
      </figcaption>
    </figure>






    <figure class="snip1336 text-center col-md-12">
      <figcaption class="col-md-8 col-md-offset-2">
        <img class="img-circle" src="images/man2.png" alt="Biel Stela" class="profile" />
        <h2>Biel Stela<span>Environmental science</span></h2>
        <p></p>
        <div class="col-md-6 col-md-offset-2">
          <a target="_blank" href="https://github.com/BielStela" class="follow">Follow</a>
          <a target="_blank" href="https://www.linkedin.com/in/biel-stela-09625449/" class="info">More Info</a>
        </div>
      </figcaption>
    </figure>

    <figure class="snip1336 text-center col-md-12">
      <figcaption class="col-md-8 col-md-offset-2">
        <img class="img-circle" src="images/man3.png" alt="Ignasi Pérez" class="profile" />
        <h2>Ignasi Pérez<span>Physics</span></h2>
        <p></p>
        <div class="col-md-6 col-md-offset-2">
          <a target="_blank"  href="https://github.com/iprafols" class="follow">Follow</a>
          <a target="_blank" href="https://www.linkedin.com/in/ignasi-p%C3%A9rez-r%C3%A0fols-9666172a/" class="info">More Info</a>
        </div>
      </figcaption>
    </figure>


  </div>



  <div id="particles-js"></div>

</div>
